<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>query-specification</key>
			<dict>
				<key>query</key>
				<string>text</string>
				<key>term</key>
				<dict>
					<key>text</key>
					<string>TODO: </string>
				</dict>
			</dict>
			<key>title</key>
			<string>ToDo</string>
			<key>type</key>
			<string>batch-find-query</string>
		</dict>
	</array>
</dict>
</plist>
