<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>New item</key>
			<string></string>
			<key>IntentName</key>
			<string>INAddMediaIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Füge das Lied zu meiner Playlist &quot;Mein-Jam&quot; hinzu</string>
				<string>Füge Explorers von Muse zur Playlist &quot;Mein-Jam&quot; hinzu</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INPlayMediaIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Spiele Money, Money, Money von Abba</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSearchForMediaIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Zeige mir Lieder vom Daft Punk</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
