<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVInitialRouteSharingPolicy</key>
	<string>LongFormAudio</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CoreSpotlightContinuation</key>
	<true/>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Amp Fin</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>ampfin</string>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsUsageDescription</key>
		<dict>
			<key>NSATSExceptionThirdPartyServiceConnectionUsage</key>
			<dict/>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>io.rfk.ampfin.artist</string>
		<string>io.rfk.ampfin.album</string>
		<string>io.rfk.ampfin.playlist</string>
		<string>io.rfk.ampfin.track</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
